<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find quad_ufabc)/worlds/quad.world" />
		<arg name="paused" default="false" />
		<arg name="use_sim_time" default="true" />
		<arg name="gui" default="true" />
		<arg name="headless" default="false" />
		<arg name="debug" default="false" />
	</include>

	<param name="wharehouse_description" command="$(find xacro)xacro  '$(find quad_ufabc)/urdf/wharehouse.xacro'"/>
	<node name="wharehouse" pkg="gazebo_ros" type="spawn_model" respawn="false"	output="screen" args="-param wharehouse_description -urdf -model wharehouse"/>

	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find quad_ufabc)/config/quad_control.yaml" command="load"/>

	<!-- load the controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" args="--namespace=/quad joint_state_controller joint_motor_controller"/>

	<group ns="quad">
		<param name="robot_description" command="$(find xacro)xacro  '$(find quad_ufabc)/urdf/quad.xacro'"/>

		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-param robot_description -urdf -model quad" />

		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<param name="publish_frequency" type="double" value="100.0" />
		</node>
	</group>


</launch>
